---
const imgUrl =
    "https://plus.unsplash.com/premium_photo-1661829698377-5e84f7779a92?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=871";
---

<div class="hero min-h-screen" style={`background-image: url(${imgUrl});`}>
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="text-white">
            <h1 class="mb-5 text-5xl font-bold">
                Keselamatan & Kesehatan Kerja Adalah Prioritas Kami
            </h1>
            <p class="mb-5 text-xl">
                Membangun budaya kerja aman dan sehat untuk meningkatkan
                produktivitas perusahaan.
            </p>

            <button class="btn btn-primary mr-5">kebijakan</button>
            <button class="btn btn-info">Pelajari Lebih Lanjut</button>
        </div>
    </div>
</div>
